<html>
	<head>
		<script type="text/javascript" src="vuejs/vue.min.js"></script>
		<script type="text/javascript" src="lib/codemirror.js"></script>
		<script type="text/javascript" src="keymap/emacs.js"></script>
		<script type="text/javascript" src="keymap/vim.js"></script>
		<script type="text/javascript" src="keymap/sublime.js"></script>
		<script type="text/javascript" src="addon/mode/loadmode.js"></script>
		<script type="text/javascript" src="addon/edit/trailingspace.js"></script>
		<script type="text/javascript" src="addon/edit/closebrackets.js"></script>
		<script type="text/javascript" src="addon/edit/matchbrackets.js"></script>
		<script type="text/javascript" src="addon/search/searchcursor.js"></script>
		<script type="text/javascript" src="addon/display/rulers.js"></script>
		<script type="text/javascript" src="addon/dialog/dialog.js"></script>
		<script type="text/javascript" src="mode/meta.js"></script>
		<script type="text/javascript" src="js/cookie.js"></script>
		<script type="text/javascript" src="js/leaps.js"></script>
		<script type="text/javascript" src="js/leap-bind-codemirror.js"></script>
		<script type="text/javascript" src="js/leapshare.js"></script>
		<link href="css/font-awesome.min.css" type="text/css" rel="stylesheet">
		<link href="lib/codemirror.css" type="text/css" rel="stylesheet">
		<link href="theme/zenburn.css" type="text/css" rel="stylesheet">
		<link href="addon/dialog/dialog.css" type="text/css" rel="stylesheet">
		<link href="css/style.css" type="text/css" rel="stylesheet">

		<!-- TEMPLATES -->
		<script type="text/x-template" id="file-template">
			<li class="clickable">
				<div v-if="!model.root"
					:class="{bold: is_folder, blue: is_open}"
					@click="toggle">
					{{model.name}}
					<span v-if="is_folder">[{{open ? '-' : '+'}}]</span>
					<span class="bold" v-if="!is_folder">{{sub_count > 0 ? '('+sub_count+' users)' : ''}}</span>
				</div>
				<ul class="compressed-list" v-show="open" v-if="is_folder">
					<file-item
						v-for="model in model.children"
						:model="model">
					</file-item>
				</ul>
			</li>
		</script>
		<!-- !TEMPLATES -->
	</head>
	<body id="app" class="dark grid-container app-shadow">
		<div id="settings" style="display:none">
			<div id="settings-window" class="settings-shadow lighter">
				<i id="settings-close-btn" class="fa fa-2x fa-arrow-left clickable" aria-hidden="true"></i>
				<h2>Settings</h2>
				<div>
					<div class="setting-container">
						<label class="border-right" for="input-use-tabs">Use tabs</label>
						<input type="checkbox" id="input-use-tabs" v-model="config.use_tabs" v-on:change="on_config_change">
					</div>
					<div class="setting-container">
						<label class="border-right" for="input-indent-unit">Indent unit</label>
						<input type="number" id="input-indent-unit" v-model="config.indent_unit" v-on:change="on_config_change">
					</div>
					<div class="setting-container">
						<label class="border-right" for="input-show-space">Highlight trailing whitespace</label>
						<input type="checkbox" id="input-show-space" v-model="config.show_space" v-on:change="on_config_change">
					</div>
					<div class="setting-container">
						<label class="border-right" for="input-auto-bracket">Auto close brackets</label>
						<input type="checkbox" id="input-auto-bracket" v-model="config.auto_bracket" v-on:change="on_config_change">
					</div>
					<div class="setting-container">
						<label class="border-right" for="input-show-bracket">Highlight brackets</label>
						<input type="checkbox" id="input-show-bracket" v-model="config.show_bracket" v-on:change="on_config_change">
					</div>
					<div class="setting-container">
						<label class="border-right" for="input-wrap-lines">Wrap lines</label>
						<input type="checkbox" id="input-wrap-lines" v-model="config.wrap_lines" v-on:change="on_config_change">
					</div>
					<div class="setting-container">
						<label class="border-right" for="input-hide-numbers">Hide line numbers</label>
						<input type="checkbox" id="input-hide-numbers" v-model="config.hide_numbers" v-on:change="on_config_change">
					</div>
					<div class="setting-container">
						<label class="border-right" for="input-line-guide">Line guide</label>
						<input type="number" id="input-line-guide" v-model="config.line_guide" v-on:change="on_config_change">
					</div>
					<div class="setting-container">
						<label class="border-right" for="theme-select">Theme</label>
						<select id="theme-select" v-model="config.theme" v-on:change="on_config_change">
							<option v-for="(value, key) in themes">{{key}}</option>
						</select>
					</div>
					<div class="setting-container">
						<label class="border-right" for="binding-select">Key Binding</label>
						<select id="binding-select" v-model="config.binding" v-on:change="on_config_change">
							<option v-for="(value, key) in bindings">{{key}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<header class="flexbox-container-spaced foreground border-bottom">
			<div class="buttons-container">
				<i id="settings-open-btn" class="fa fa-2x fa-cog clickable" aria-hidden="true"></i>
				<input id="username-bar" type="text" placeholder="username" class="fw-font">
			</div>
			<div class="icon-container">
				<a class="undecorated" href="https://github.com/jeffail/leaps">
					<h1 class="inline">Leaps</h1><img src="leaps_logo.png" class="inline logo">
				</a>
			</div>
		</header>
		<div id="side-bar" class="foreground border-right">
			<nav>
				<ul id="file-list" class="root-compressed-list fw-font">
					<file-item :model="file_data">
					</file-item>
				</ul>
			</nav>
			<div id="users-list" class="flexbox-container-wrapped border-top border-bottom fw-font">
				<div v-if="Object.keys(users).length === 0"><span>You are alone &#128542;</span></div>
				<div v-for="(value, key) in users"
					v-bind:style="style(key)"
					v-on:click="go_to(value)"
					class="clickable bold">
					<span>{{value.username}}</span>
				</div>
			</div>
			<div id="message-list" class="fw-font">
				<div v-for="message in messages" :class="{bold: message.is_sys||message.is_err, red: message.is_err}">
					<span v-if="message.timestamp">[{{message.timestamp}}]</span>
					<span v-if="message.name"> </span>
					<span v-bind:style="message.name_style" class="bold" v-if="message.name">&lt;{{message.name}}&gt;</span>
					<span v-if="message.content"> {{message.content}}</span>
					<pre v-if="message.cmd">Output from `{{message.cmd}}`:</pre>
					<pre class="red" v-if="message.error">Error: {{message.error}}</pre>
					<pre class="red" v-if="message.stderr">{{message.stderr}}</pre>
					<pre v-if="message.stdout">{{message.stdout}}</pre>
				</div>
			</div>
			<input id="chat-bar" type="text" placeholder="chat" class="fw-font">
		</div>
		<div id="editor">
		</div>
		<div v-if="options.length > 0" id="cmd-menu" class="fw-font foreground border-top">
			<button v-on:click="run_cmd" class="border-right">
				<i class="fa fa-play" aria-hidden="true"></i>
			</button>
			<select id="cmd-select" v-model="selected">
				<option v-bind:value="option.index" v-for="option in options">{{option.text}}</option>
			</select>
		</div>
	</body>
</html>
