<html>
	<head>
		<script type="text/javascript" src="vuejs/vue.min.js"></script>
		<script type="text/javascript" src="cm/lib/codemirror.js"></script>
		<script type="text/javascript" src="cm/keymap/emacs.js"></script>
		<script type="text/javascript" src="cm/keymap/vim.js"></script>
		<script type="text/javascript" src="cm/keymap/sublime.js"></script>
		<script type="text/javascript" src="cm/addon/mode/loadmode.js"></script>
		<script type="text/javascript" src="cm/addon/search/searchcursor.js"></script>
		<script type="text/javascript" src="cm/addon/dialog/dialog.js"></script>
		<script type="text/javascript" src="cm/mode/meta.js"></script>
		<script type="text/javascript" src="cookie.js"></script>
		<script type="text/javascript" src="leaps.js"></script>
		<script type="text/javascript" src="leap-bind-codemirror.js"></script>
		<script type="text/javascript" src="leapshare.js"></script>
		<link href="font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
		<link href="cm/lib/codemirror.css" type="text/css" rel="stylesheet">
		<link href="cm/theme/zenburn.css" type="text/css" rel="stylesheet">
		<link href="cm/addon/dialog/dialog.css" type="text/css" rel="stylesheet">
		<link href="style.css" type="text/css" rel="stylesheet">

		<!-- TEMPLATES -->
		<script type="text/x-template" id="file-template">
			<li class="clickable">
				<div v-if="!model.root"
					:class="{bold: is_folder, blue: is_open}"
					@click="toggle">
					{{model.name}}
					<span v-if="is_folder">[{{open ? '-' : '+'}}]</span>
					<span class="bold" v-if="!is_folder">{{model.num_users > 0 ? '('+model.num_users+' users)' : ''}}</span>
				</div>
				<ul class="compressed-list" v-show="open" v-if="is_folder">
					<file-item
						v-for="model in model.children"
						:model="model">
					</file-item>
				</ul>
			</li>
		</script>
		<!-- !TEMPLATES -->
	</head>
	<body class="dark flexbox-container-fill-rows">
		<div id="settings" style="display:none">
			<i id="settings-close-btn" class="fa fa-lg fa-close clickable" aria-hidden="true"></i>

			<label for="input-hide-numbers">Hide line numbers</label>
			<input type="checkbox" id="input-hide-numbers" v-model="config.hide_numbers" v-on:change="on_config_change">

			<label for="input-wrap-lines">Wrap lines</label>
			<input type="checkbox" id="input-wrap-lines" v-model="config.wrap_lines" v-on:change="on_config_change">

			<label for="input-use-tabs">Use tabs</label>
			<input type="checkbox" id="input-use-tabs" v-model="config.use_tabs" v-on:change="on_config_change">

			<label for="input-indent-unit">Indent unit</label>
			<input type="number" id="input-indent-unit" v-model="config.indent_unit" v-on:change="on_config_change">

			<select v-model="config.theme" v-on:change="on_config_change">
				<option v-for="(value, key) in themes">{{key}}</option>
			</select>

			<select v-model="config.binding" v-on:change="on_config_change">
				<option v-for="(value, key) in bindings">{{key}}</option>
			</select>
		</div>
		<header class="flexbox-container-spaced border-bottom">
			<div class="icon-container">
				<a class="undecorated" href="https://github.com/jeffail/leaps">
					<h1 class="inline">Leaps</h1><img src="leaps_logo.png" class="inline logo">
				</a>
			</div>
			<div class="buttons-container">
				<i id="settings-open-btn" class="fa fa-lg fa-cog clickable" aria-hidden="true"></i>
				<input id="username-bar" type="text" placeholder="username" class="fw-font">
			</div>
		</header>
		<div id="main">
			<div id="side-bar" class="border-right">
				<nav>
					<ul id="file-list" class="root-compressed-list fw-font">
						<file-item :model="file_data">
						</file-item>
					</ul>
				</nav>
				<div id="users-list" class="flexbox-container-wrapped border-top border-bottom fw-font">
					<div v-if="Object.keys(users).length === 0"><span>You are alone &#128542;</span></div>
					<div v-for="(value, key) in users"
						v-bind:style="style(key)"
						v-on:click="go_to(value.position)"
						class="clickable bold">
						<span>{{value.name}}</span>
					</div>
				</div>
				<div id="message-list" class="fw-font">
					<div v-for="message in messages" :class="{bold: message.is_sys||message.is_err, red: message.is_err}">
						<span>[{{message.timestamp}}]</span>
						<span v-if="message.name"> </span>
						<span v-bind:style="message.name_style" class="bold" v-if="message.name">&lt;{{message.name}}&gt;</span>
						<span> {{message.content}}</span>
					</div>
				</div>
				<input id="chat-bar" type="text" placeholder="chat" class="fw-font">
			</div>
			<div id="editor">
			</div>
		</div>
	</body>
</html>
