/* FONT STUFF */

body {
	font-family: "Open Sans", sans-serif;
	font-size: 0.8em;
}

h1 {
	font-size: 1.8em;
}

.fw-font {
	font-family: "Open Sans Mono", monospace;
}

.bold {
	font-weight: bold;
}

/* COLOURS */

.light {
	color: #3c3c3c;
	background-color: #f0f0f0;
}

.light .border-bottom {
	border-bottom: 1px solid #e0e0e0;
}

.light .border-right {
	border-right: 1px solid #e0e0e0;
}

.light .border-left {
	border-left: 1px solid #e0e0e0;
}

.light .border-top {
	border-top: 1px solid #e0e0e0;
}

.dark {
	background-color: #3c3c3c;
	color: #fcfcfc;
}

.dark .border-bottom {
	border-bottom: 1px solid #5c5c5c;
}

.dark .border-right {
	border-right: 1px solid #5c5c5c;
}

.dark .border-left {
	border-left: 1px solid #5c5c5c;
}

.dark .border-top {
	border-top: 1px solid #5c5c5c;
}

.red {
	color: #bf5661;
}

.blue {
	color: #1878eb;
}

/* LAYOUT */

body, html {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

header {
	vertical-align: middle;
	padding: auto;
	height: 50px;
}

.flexbox-container-wrapped {
	display: flex;
	flex-wrap: wrap;
}

.flexbox-container-spaced {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > .buttons-container, header > .icon-container {
	flex-grow: 0;
	flex-basis: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.logo {
	height: 40px;
}

.CodeMirror {
	position: relative;
	height: auto;
	font-size: 1.2em;
}

#main {
	position: absolute;
	top: 51px;
	bottom: 0px;
	width: 100%;
	display: flex;
	align-items: stretch;
}

#side-bar {
	min-width: 150px;
	flex-basis: 150px;
	flex-shrink: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#side-bar > nav {
	overflow: auto;
	max-height: 50%;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 10px;
}

#message-list {
	margin: 10px;
	min-height: 100px;
	overflow: auto;
	flex-grow: 1;
}

#chat-bar {
	height: 30px;
	flex-grow: 0;
	flex-shrink: 0;
}

#users-list {
	padding: 10px;
}

#users-list > div {
	margin: 2px;
	padding: 5px;
}

#editor {
	position: relative;
	overflow: auto;
	flex-grow: 6;
	flex-shrink: 0;
	flex-basis: 0;
}

/* OTHER */

.inline {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.undecorated {
	color: inherit;
	text-decoration: none;
}

.root-compressed-list, .root-compressed-list > .compressed-list {
	list-style-type: none;
	margin: 0 !important;
	padding: 0;
}

.compressed-list {
	list-style-type: none;
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

.clickable {
	cursor: pointer;
}
