body {
	background-color: #f0f0f0;
	color: #3c3c3c;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
}

h1 {
	color: #3c3c3c;
	font-family: sans-serif;
	font-weight: normal;
}

textarea {
	font-family: sans-serif;
	background-color: #fcfcfc;
	color: #3c3c3c;

	padding: 20px;

	border: 0px;
	border-radius: 1em 4em 1em 4em;
}
