/* FONT STUFF */

body {
	font-family: "Open Sans", sans-serif;
	font-size: 0.8em;
}

h1 {
	font-size: 1.8em;
}

.fw-font {
	font-family: "Open Sans Mono", monospace;
}

.bold {
	font-weight: bold;
}

input {
	font-size: 1.1em;
	padding: 0 10px 5px 10px;
}

/* COLOURS */

.light, .light select, .light button {
	color: #3c3c3c;
	background-color: #d0d0d0;
}

.light .foreground, .light .foreground select, .light .foreground button {
	background-color: #f0f0f0;
}

.light .lighter {
	background-color: #fcfcfc;
}

.light .border-bottom {
	border-bottom: 1px solid #e0e0e0;
}

.light .border-right {
	border-right: 1px solid #e0e0e0;
}

.light .border-left {
	border-left: 1px solid #e0e0e0;
}

.light .border-top {
	border-top: 1px solid #e0e0e0;
}

.light input {
	border: 0;
	border-bottom: 4px solid #6c6c6c;
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
	color: #3c3c3c;
}

.light input:focus {
	border-color: #3c3c3c;
}

.light.app-shadow {
	box-shadow: 4px 4px 15px #9c9c9c;
}

.light .settings-shadow {
	box-shadow: 2px 2px 5px #9c9c9c;
}

.dark, .dark select, .dark button {
	background-color: #7c7c7c;
	color: #fcfcfc;
}

.dark .foreground, .dark .foreground select, .dark .foreground button {
	background-color: #3c3c3c;
}

.dark .lighter {
	background-color: #4c4c4c;
}

.dark .border-bottom {
	border-bottom: 1px solid #5c5c5c;
}

.dark .border-right {
	border-right: 1px solid #5c5c5c;
}

.dark .border-left {
	border-left: 1px solid #5c5c5c;
}

.dark .border-top {
	border-top: 1px solid #5c5c5c;
}

.dark input {
	border: 0;
	border-bottom: 4px solid #d0d0d0;
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
	color: #fcfcfc;
}

.dark input:focus {
	border-color: #fcfcfc;
}

.dark.app-shadow {
	box-shadow: 4px 4px 15px #2c2c2c;
}

.dark .settings-shadow {
	box-shadow: 2px 2px 5px #2c2c2c;
}

.red {
	color: #bf5661;
}

.blue {
	color: #1878eb;
}

.shaded {
	background-color: rgba(0, 0, 0, 0.4);
}

/* LAYOUT */

body, html {
	margin: 0;
	padding: 0;
}

button, select {
	padding: 7px 14px;
	border: none;
	cursor: pointer;
}

#settings {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 500;
	display: flex;
	justify-content: center;
}

#settings-window {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px 20px 10px 20px;
	height: 100%;
	max-width: 100%;
}

#settings-window > div {
	display: table;
	margin-top: 10px;
	overflow: auto;
}

#settings-window > h2 {
	text-align: center;
	margin: 5px;
}

#settings-window > i {
	float: left;
}

.setting-container {
	margin: 5px;
	display: table-row;
}

.setting-container label, .setting-container input, .setting-container select {
	display: table-cell;
}

.setting-container label {
	text-align: right;
	padding: 15px 10px 10px 10px;
}

.setting-container select, .setting-container input {
	text-align: left;
	vertical-align: middle;
	margin-left: 10px;
}

header {
	z-index: 10;

	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

	width: 100%;
	height: 100%;

	vertical-align: middle;
	margin: auto;
}

.flexbox-container-wrapped {
	display: flex;
	flex-wrap: wrap;
}

.flexbox-container-spaced {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > .buttons-container, header > .icon-container {
	flex-grow: 0;
	flex-basis: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.buttons-container > * {
	vertical-align: middle;
}

#username-bar {
	margin-left: 10px;
}

.logo {
	height: 40px;
}

.CodeMirror {
	font-size: 1.2em;
	height: auto;
}

.cm-trailingspace {
	background-color: rgba(191, 86, 97, 0.7);
}

.grid-container {
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: 50px 100fr;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
}

#side-bar {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;

	display: flex;
	flex-direction: column;
}

#side-bar > nav {
	overflow: auto;
	max-height: 40%;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 10px;
}

#message-list {
	margin: 10px;
	min-height: 20px;
	overflow: auto;
	flex-grow: 1;
}

#message-list pre {
	margin: 0;
	font-size: 1.2em;
	white-space: pre-wrap;
}

#message-list > div {
	padding-top: 3px;
}

#chat-bar {
	margin: 5px;
	flex-grow: 0;
	flex-shrink: 0;
}

#users-list {
	padding: 5px;
	overflow: auto;
	max-height: 50px;
	min-height: 20px;
}

#users-list > div {
	margin: 2px;
	padding: 3px;
}

#cmd-menu {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;

	height: 35px;

	display: inline-flex;
}

#cmd-select {
	flex-grow: 1;
	width: 100%;
}

#editor {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: auto;
}

@media screen
and (min-width: 1200px)
and (min-height: 850px) {
	#app {
		margin-top: 2vh;
		width: 90vw;
		height: 96vh;
	}
}

/* OTHER */

.inline {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.undecorated {
	color: inherit;
	text-decoration: none;
}

.root-compressed-list, .root-compressed-list > .compressed-list {
	list-style-type: none;
	margin: 0 !important;
	padding: 0;
}

.compressed-list {
	list-style-type: none;
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

.clickable {
	cursor: pointer;
}
