body {
	background-color: #f0f0f0;
	color: #3c3c3c;
	text-align: center;
	padding: 20px;
	font-family: sans-serif;
}

.container {
	position: relative;
	margin: 20px;
}

#editor {
	text-align: left;
	margin: auto;
	box-shadow: 0px 0px 4px #7c7c7c;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	height: 600px;
	width: 95%;
}
